<!DOCTYPE html>
<html>
    <head>
        <title>AfriLang</title>
    </head>
    <body>
        <h1>AfriLang 🌍</h1>
        <p>Translate english words to African Languages</p>

        <form action="/translate" method="post">
            <input type="text" name="word" placeholder="Enter a word">
            <button type="submit">Translate</button>
        </form>
        
        <a href="/list">See all words</a>
        <a href="/contribute">Add new words</a>
        {% if result %}
            <p>{{ result }}</p>
        {% endif %}
    </body>
</html>